@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos generales */
body {
    max-width: 100%;
    width: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 5px;
    padding: 5px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container-home {
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin: 5px auto;
    padding: 10px;
}

.info{
    max-width: 100%;
    width: 100%;
    font-size: 18px;
    
}

/* Encabezado */
header {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 20px 20px 20px rgba(3, 95, 145, 0.509);
    margin-bottom: 5px;
    margin: 20px 10px;
}

h1 {
    color: #79a9e8;
    margin: 5px auto;
    font-size: 24px;
    font-size: 35px;
    font-weight: 800;
}

h2 {
    color: #0f55b0;
    margin: 5px auto;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

h3 {
    margin: 20px auto;
    font-weight: 400;
    text-align: center;
    color: #1a73e8;
    margin-top: 0;
    font-size: 20px;
}

div.logo-header{
    margin: 0 auto;
    padding: 0 auto;
}

div.logo-header img{
    margin:0 auto;
    text-align: center;
    justify-content: center;
    
}

#span-header{
    font-size: 10px;
    padding: 4px;
   justify-content: start;
   text-align: justify;

}

/* Formulario de Login en bienvenida*/



section.section-data{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin: 20px 10px;
}



/* Formulario */
/* .form-group {
    margin-bottom: 15px;
} */

label {
    display: block;
    margin-bottom: 5px;
    color: #1a73e8;
    font-weight: 500;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    width: 97%;
    padding: 2px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input[type="password"]:focus,
input[type="text"]:focus,
input[type="date"]:focus {
    border-color: #1a73e8;
    outline: none;
}

/* Botones */
.btn-action{
    background-color: #a9abafcf;
    color: white;
    font-size: 14px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    margin: 2px auto;
    padding: 2px;
    justify-content: center;
    display: flex;
}

.btn-action:hover{
    background-color: #7b8fb6;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s;
    color: #192637;
    background-color: #2b3c7bcf;
}

.container-bt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}

.btn-primary {
    background-color: #1a73e8;
    font-size: 20px;
    font-weight: 800;
    color: white;
    width: 50%;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.btn-primary:hover {
    background-color: #1557b0;
}

button.btn.btn-secondary {
    background-color: #acb0b2;
    color: #ffffff;
}

button.btn-secondary:hover {
    background-color: #60799edf;
}


/* Acciones y filtros */
.filters input {
    flex: 1;
    width: 100%;
    padding: 2px; /* Espaciado interno para los inputs */
    border: 1px solid #ccc; /* Borde por defecto */
    border-radius: 4px; /* Bordes redondeados */
    transition: border-color 0.3s ease; /* Transición para el borde */
}

.filters input:focus {
    border-color: #007bff; /* Cambia el color del borde al enfocar */
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

/* Estilos para las etiquetas */
.filters .filter {
    position: relative; /* Necesario para posicionar las etiquetas */
    flex-basis: calc(33.333% - 10px); /* Tres elementos por fila, restando el espacio */
}

.filters label {
    position: absolute;
    left: 5px; /* Posición horizontal de la etiqueta */
    top: 10px; /* Posición vertical de la etiqueta */
    color: #007bff; /* Color celeste */
    font-size: 12px; /* Tamaño de fuente pequeño */
    opacity: 0; /* Oculto por defecto */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
    background-color: white;
    margin: 3px;
    padding: 2px;
}

.filters input:not(:placeholder-shown) + label,
.filters input:focus + label {
    opacity: 1; /* Muestra la etiqueta al escribir o enfocar */
    transform: translateY(-20px); /* Mueve la etiqueta hacia arriba */
}

.filter {
    flex: 1; /* Cada filtro ocupa el mismo espacio */
    width: 100%;
}

#limpiar-filtros{
    width: 97%;
    margin-top: -1px;
}


.button-container {
    display: flex; /* Habilita Flexbox */
    justify-content: center;
}


button#aplicar-filtros{
    width: 60%;
    justify-content: center;
    margin: 5px auto;
    height: 60px;
    background-color: #1b2753eb;
} 

#aplicar-filtros:hover{
    background-color: #2b3c7bcf;
}

.btn {
    padding: 5x 5px; /* Espaciado interno para los botones */
    background-color: #0b1644ee;
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-right: 5px; /* Espacio entre los botones (opcional) */
    width: 40%;
    font-weight: 800;
}


.btn:last-child {
    margin-right: 0; /* Elimina el margen derecho del último botón */
}

.btn:hover {
    background-color: #0056b3; /* Color del botón al pasar el mouse */
}



/* Tabla */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #e0e0e0;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

header{
    background-color: #1e324c;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}

th {
    padding: 2px;
    background-color:#1e324c;;
    color: #ffffff;
    font-weight: 800;
    font-size: 14;
    text-align: center;
}

tr:hover {
    background-color: rgba(190, 214, 237, 0.354);;
}


/* Paginación */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#page-number {
    font-size: 14px;
    color: #5f6368;
}

/* Estilos para botones de acción en la tabla */
.button-table {
    padding: 2px;
    margin: 2px;
    font-size: 12px;
    background-color: #f1f3f4;
    color: #1a73e8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80%;
}

.button-table:hover {
    background-color: #e8eaed;
}

/* Mensaje de no datos */
#no-data-message {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #5f6368;
    background-color: #f8f9fa;
    border-radius: 4px;
    margin-top: 20px;
}

/* cajas flexes*/

div.flex-container{
    margin: 1px;
}

.flex-container > button{
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ancho total del contenedor */
    padding: 2px;
    margin: 2px;
    justify-content: center;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    text-align: center;
}

.flex-item-2 { 
    flex: 1; /* Cada elemento ocupa el mismo espacio disponible */
    padding: 2px; /* Espaciado interno */
    min-width: 0; /* Previene el desbordamiento */
    margin: 0 auto;
    text-align: center;
}

#admin-btn, #operator-btn{
    background: rgb(250,250,250);
    background: radial-gradient(circle, rgba(250,250,250,1) 20%, rgba(56,111,190,1) 62%, rgba(24,4,22,0.7484243697478992) 98%);
    border: #032858;
}
#admin-btn:hover, #operator-btn:hover{
    background-color: #030000;
    border: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {

    .actions, .filters {
        flex-direction: column;
    }

    .btn, .filters input {
        width: 100%;
    }

    .button-table {
        padding: 4px 8px;
        font-size: 11px;
    }
}

/* Estilos adicionales para mejorar la accesibilidad */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Estilos para el modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 80%;
}

.modal p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}

.modal button {
    padding: 10px 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.modal button:hover {
    background-color: #1557b0;
}



.info-container {
    width: 90%;
    padding: 5px;
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    margin: 5px auto;
}

.info-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

.info-paragraph strong {
    color: #007BFF;
}


/* Agregar estilos para login - en bienvenida */
div.login-card.container{
    padding: 10px;
    width: 60%; /* Aumentar el ancho del contenedor */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: #f7f8f9;
    border-radius: 8px;
    text-align: center;
    margin: 10px auto;
}

input#username,
input#password{
    width: 50%;
}


h3 {
    font-size: 24px; /* Aumentar tamaño de fuente */
    margin-bottom: 20px;
}


label {
    display: block;
    margin-top: 10px;
    font-size: 18px; /* Aumentar tamaño de fuente */
}
input {
    width: 80%;
    padding: 12px; /* Aumentar padding */
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px; /* Aumentar tamaño de fuente */
}

button {
    margin-top: 15px;
    padding: 12px;
    width: 90%;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px; /* Aumentar tamaño de fuente */
}

.btn-send{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    margin: 0 auto;
    width: 55%;

}


button.btn-send{
    background-color: #7b8199cf;
}
button.btn-send:hover {
    background-color: #1a73e7;
}

button:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    display: none; /* Ocultar por defecto */
}

a.center {
    text-decoration: underline; /* Subrayado */
    text-align: center;
}


p.text-gray{
    margin: 0 auto;
    text-align: center;
    color: #898989; /* Color gris */

}

/* Estilos para el navbar */

.navBar nav {
    display: flex; /* Activa flexbox */
    justify-content: space-between; /* Distribuye los enlaces uniformemente */
}

.navBar a {
    flex: 1; /* Cada enlace ocupa el mismo espacio */
    text-align: center; /* Centra el texto dentro de cada enlace */
    color: white; /* Color del texto blanco */
    text-decoration: none; /* Elimina el subrayado */
    padding: 8px 0; /* Espaciado vertical dentro de los enlaces */
}

.navBar a:hover {
    color: #3981df; /* Cambia el color al pasar el mouse */
}



/* Estilos para las etiquetas */
.filter {
    position: relative; /* Necesario para posicionar las etiquetas */
    margin-bottom: 2px; /* Espacio entre los campos */
}

.filter label {
    position: absolute;
    left:25%; /* Posición horizontal de la etiqueta */
    top: 10px; /* Posición vertical de la etiqueta */
    color: #007bff; /* Color celeste */
    font-size: 12px; /* Tamaño de fuente pequeño */
    opacity: 0; /* Oculto por defecto */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
    background-color: white; /* Fondo blanco para la etiqueta */
    margin: 3px; /* Espacio alrededor de la etiqueta */
    padding: 2px; /* Espaciado interno de la etiqueta */
    border-radius: 10px;
}

input:not(:placeholder-shown) + label,
input:focus + label {
    opacity: 1; /* Muestra la etiqueta al escribir o enfocar */
    transform: translateY(-20px); /* Mueve la etiqueta hacia arriba */
}

div.options button img{
    margin: 0 auto;
    width: 80%;
}
div.options button{
    background: rgb(250,250,250);
background: radial-gradient(circle, rgba(250,250,250,1) 23%, rgb(3, 11, 72) 86%);
}

.options {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples filas */
    justify-content: space-around; /* Espacio entre los elementos */
    gap: 10px; /* Espacio entre los elementos */
}

.flex-item {
    flex: 0 0 calc(33.333% - 20px); /* 3 elementos por fila */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    text-align: center; /* Centra el contenido dentro de cada item */
}


.flex-item-2 { 
    flex: 1; /* Cada elemento ocupa el mismo espacio disponible */
    padding: 2px; /* Espaciado interno */
    min-width: 0; /* Previene el desbordamiento */
    margin: 5px auto;
    text-align: center;
}



.logo img {
    max-width: 100%; /* Asegura que las imágenes no salgan de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}


#span-total{
    text-align: center;
    font-size: 30px ;
    font-weight: 700;
    color: #192637;
    margin: 10px auto;

}




/* //! agregar al FORM DE INSERTA Secciones principales */
/* .form-section {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 5px;
    margin: 5px auto;
} */

/* .form-section input {
    width:98%;
} */

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group {
    position: relative;
    flex-basis: calc(50% - 10px); /* Dos columnas por fila */
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para las etiquetas */
.filter {
    position: relative;
    flex-basis: calc(50% - 10px); /* Dos elementos por fila */
}

label {
    position: absolute;
    left: 5px;
    top: 10px;
    color: #007bff;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: white;
    padding: 0 5px;
}



input:not(:placeholder-shown) + label,
input:focus + label {
    opacity: 1;
    transform: translateY(-17px);
}

/* Placeholder styling */
input:focus::placeholder {
    color: transparent;
}

/* Small tags for field information */
small {
    display: block;
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}


.container-table-form {
    display: flex; /* Usar flexbox para alinear elementos */
}



.table-container {
    width: 100%; /* Ocupa el 100% del ancho por defecto */
}

/* Cuando la sección de formulario es visible */
.form-section.active {
    display: flex; /* Mostrar la sección */
    flex-direction: column;
}

section#form-section.form-section {
    margin: 10px;

    margin-right: 20px;

}

/* Cuando la sección de formulario está oculta */
.form-section.hidden {
    display: none; /* Mantener oculta */
}

.table-container.full-width {
    width: 100%; /* La tabla ocupa el 100% del ancho cuando el formulario está oculto */
    
}



.form-section {
    display: none; /* Ocultar por defecto */
    width: 50%; /* Ocupa el 50% del ancho cuando es visible */
    background-color: #f9f9f9; /* Color de fondo suave */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px; /* Espaciado interno */
    max-width: 400px; /* Ancho máximo de la tarjeta */
    margin: auto; /* Centrar la tarjeta horizontalmente */
}

input .form-section{
    width: 100%;
}

h3 {
    text-align: center; /* Centrar el título */
    color: #333; /* Color del texto del título */
}

.form-group {
    margin-bottom: 2px; /* Espacio entre los grupos de formulario */
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 12px); /* Ancho completo menos el padding */
    padding: 5px; /* Padding interno de los inputs */
    margin: 5px 0; /* Margen superior e inferior */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados para los inputs */
    font-size: 16px; /* Tamaño de fuente para los inputs */
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff; /* Color del borde al enfocar */
    outline: none; /* Quitar el contorno por defecto */
}

button {
    width: calc(100% - 12px); /* Ancho completo menos el padding */
    padding: 10px; /* Padding interno para los botones */
    margin: 5px 0; /* Margen superior e inferior para los botones */
    border: none; /* Sin borde por defecto */
    border-radius: 4px; /* Bordes redondeados para los botones */
    background-color: #007bff; /* Color de fondo azul para los botones */
    color: white; /* Color del texto en blanco */
    font-size: 16px; /* Tamaño de fuente para los botones */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}

button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse sobre el botón */
}

small {
    display: block; /* Hacer que el texto pequeño esté en una nueva línea */
    color: #666; /* Color gris para el texto pequeño */
}